header{
    border: 1px solid black;
    width: auto;
    margin: auto;
    background: black;
}
h1, h2{
    color: #FEBE00
}
h3{
    color: #FE642E
}
p{
    color: black;
}
*{
    margin: 5px;
    padding: 0px;
}

main{
    border: none;
    width: 1475px;
    margin: auto;
    background: white ;
}

footer{
    border: 1px solid black;
    width: auto;
    margin: auto;
    background: lightcyan;
}

body{
    background: white;
}

.menu{
    width: :100%;
    background: black;
    list-style: inherit;
    margin: 20px;
    border: 1px solid black;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.menu li a{
    padding: 15px 30px;
    display:inline-block;
    color:lawngreen;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover{
    background: #ccc;
    color:black;
    
}

header, footer{
    width: 100%;
    max-width: 1500px;
    margin: 10px auto;
}

div#General{
    margin:auto;
    margin-top: 00px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    background-color: black;
}
    
div#MENU{
    width: 1475px;
    height: auto;
    background-color: none;
}

div#Carrusel{
    margin-top: 20px;
    width: 900px;
    height: auto;
    background-color: none;
}
div#Footer{
    margin-top: 20px;
    width: 1475px;
    height: auto;
    background-color: none;   
}

div#inf{
    margin-top: 0px;
    width: 0px;
    height: auto;
    background-color: ; 
}

fieldset{
    border: 1px solid black;
    width: auto;
    margin: auto;
    background: black;
}
/*Slader*/

section article {
    width: 200px;
    height: 200px;
    float: left;
    border: 0px solid white;
    position: relative;
    margin: 5px;
    transform: scale(1.1);
    z-index: 1;
    transition: all 1s;
    }
    section article img {
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0px;
        left: 0px;
    }

.aumentado{
    z-index: 1000; /*salga hacia adelante*/
    border: 0px solid white;
    box-shadow: 5px 5px 15px 5px white;
    transform: scale(1.3,1.3);
}
section slide{
    padding-top: 50px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
section .imagenes{
    width: 1000px;
    position: relative;
    left: 0px;
    transition: all 1s;
}
/*estilo botones*/
.botonredondo{
    width: 0px;
    height: 30px;
    border-radius: 30px;
    background: rgb(100,100,100);
    color: rgb(50,50,50);
    font-size: 30px;    
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position:static;
           
}
.botones{
    width: 100%;
    position: static;
    z-index: 10000;    
}
.anterior{
    right: 70px;
    top: 100px; 
}
.posterior{  
    top: 100px;    
}


/*///////estilo destacado///////////*/

#destacado{
    position: absolute;
    width: 80%;
    right: 0px;
    height: 100%;
    top: 0px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 20px black inset;
}
#destacado img{
    width: 100%; 
    opacity: 0.5;
} 
#destacado h2, #destacado h3, #destacado p{
    position:absolute;    
    top: 0px;
} 


